<div class="flex flex-col">
  <div class="grid grid-cols-8">
    <div class="col-span-4 col-start-2">
      <div class="flex flex-col gap-4">
        <p-toast />
        <p class="text-5xl font-bold">{{ cours!.titreCours }}</p>
        <p>
          {{ cours!.descriptionCours }}
        </p>
        <div class="flex gap-4">
          <div class="flex gap-2 items-center">
            <i class="pi pi-clock self-center"></i>
            <p class="text-lg">{{cours!.estimatedDuration}} minutes</p>
          </div>

          <div class="flex gap-2 items-center">
            <i class="pi pi-book self-center"></i>
            <p class="text-lg normal-case">{{cours!.difficulty}}</p>
          </div>

          <div class="flex gap-2 items-center">
            <i class="pi pi-user self-center"></i>
            <p class="text-lg">0 subscriber(s)</p>
          </div>
        </div>
        <p-button (click)="subscribeToCours(9)"> S'inscrire au cours </p-button>
        <p-image
          class="w-full justify-self-center"
          [src]="cours!.coursImage"
          loading="lazy"
          width="500"
          alt="Image"
          [preview]="true"
        />
        <p class="text-2xl font-bold">Contenu du cours</p>
        <p-card>
          <p-accordion *ngFor="let chap of cours!.chapitres!" value="0">
            <p-accordion-panel value="0">
              <p-accordion-header>{{ chap!.titreChapitre }}</p-accordion-header>
              <p-accordion-content>
                <p class="m-0">
                  {{ chap!.chapitreDescription }}
                </p>
              </p-accordion-content>
            </p-accordion-panel>
          </p-accordion>
        </p-card>
        <p class="text-2xl font-bold">Resources du cours</p>
        <p-card>
          <div class="flex flex-col gap-4">
            <div
              *ngFor="let c of cours!.chapitres"
              class="flex gap-2 items-center"
            >
              <i class="pi pi-file self-center"></i>
              <div class="flex flex-col" *ngFor="let doc of c.documents">
                <p class="text-md">{{ doc!.nomDocument }}</p>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
    <div class="col-start-7 relative">
      <div class="sticky top-32">
        <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
          <ng-template #title>
            <p class="capitalize">{{ prof!.firstName }} {{ prof!.lastName }}</p>
          </ng-template>
          <ng-template #subtitle> {{ prof!.username }} </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
